Xft.dpi: 96
Xft.autohint: false
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: true
Xft.antialias: true
Xft.rgba: rgb

URxvt.font: xft:DejaVu\ Sans\ Mono:size=9
URxvt.letterSpace: 0
URxvt.urlLauncher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.underlineURLs: true

URxvt.scrollstyle: plain
URxvt.scrollBar: false
URxvt.scrollBar_right: true
URxvt.transpscrollbar: true
URxvt.scrollBar_floating: true
URxvt.saveLines: 10000
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true

*.foreground: #D8DEE9
*.background: #2E3440
*.cursorColor: #D8DEE9
*.fading: 20
*.fadeColor: #4C566A

*.color0: #3B4252
*.color1: #BF616A
*.color2: #A3BE8C
*.color3: #EBCB8B
*.color4: #81A1C1
*.color5: #B48EAD
*.color6: #88C0D0
*.color7: #E5E9F0
*.color8: #4C566A
*.color9: #BF616A
*.color10: #A3BE8C
*.color11: #EBCB8B
*.color12: #81A1C1
*.color13: #B48EAD
*.color14: #8FBCBB
*.color15: #ECEFF4
